html {
    scroll-behavior: smooth;
  }
  
  
  body {
  
  }
  
  /* The navigation bar */
  .navbar {
    overflow: visible;
    background-color: transparent;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-fixed-top.scrolled {
    background-color: #333 !important;
    transition: background-color 250ms linear;
  }
  
  .masthead {
    width:100%;
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fujiv3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    position: relative;
  }
  
  a {
    color: #ff3cb1;
  }
  
  a:hover {
  
    color: #b5297b;
  
  }
  
  .whitebar a {
  
    color:white;
  
  }
  
  .whitebar i {
  
    color:white;
  
  }
  
  
  title {
  
    font-size: 30px;
  
  
  }
  
  h1 {
  
    font-family: Streamster;
    font-size: 64px;
  
  }
  
  h2 {
  
    font-family: Gravity;
    font-size: 30px;
  
  }
  
  h5 {
  
    font-family: Gravity;
    font-size: 20px;
  
  }
  
  h3 {
  
    font-size: 42px;
  
  
  }
  
  h4 {
  
    font-size: 30px;
  
  
  }
  
  
  p2 {
  
    font-size:18px;
    color: black;
  
  }
  
  .gravFont {
  
    font-family: Gravity;
  
  }
  
  .ubuntuFont {
  
    font-family: Ubuntu;
  
  }
  
  .helveticaneueFont {
  
    font-family: Helvetica_Neue;
  
  }
  
  .lucidagrandeFont {
  
    font-family: Lucida_Grande;
  
  }
  
  .msg {
  
    font-family: ms_gothic;
  
  }
  
  .redir-text a{
  
    color: white;
    
    font-size: 20px;
  
  
  }
  
  .typed-container {
    
    font-size: 30px;
    display: block;
    text-align: center;
    background-size: cover;
  }
  
  .typed-container h2 {
  
    display: inline;
  
  }
  
  .paddedtext {
  
    padding-top: 10px;
    text-align: center;
    color: white;
  
  }
  
  .arrow
  {
    position: relative;
    bottom: -2rem;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
  
    /**
     * Dark Arrow Down
     */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;
  }
  
  .uparrow
  {
    position: relative;
    bottom: -2rem;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
  
    /**
     * Dark Arrow Down
     */
    background-size: contain;
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  